services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      APPLICATION_NAME: ecommerce-backend
      PROFILE: dev
      PORT: 8080
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: ecommerce
      DB_USER: ecommerce_user
      DB_PASSWORD: ecommerce_pass
      FRONT_END_URL: "http://frontend:3000"
    depends_on:
      db:
        condition: service_healthy


  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      EXTERNAL_API_URL: "http://backend:8080"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ecommerce
      MYSQL_USER: ecommerce_user
      MYSQL_PASSWORD: ecommerce_pass
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -prootpass"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

