spring:
  datasource:
    url: jdbc:h2:mem:ecommerce
    username: ${H2_USERNAME:sa}
    password: ${H2_PASSWORD:}
    driver-class-name: org.h2.Driver

  sql:
    init:
      mode: always
      data-locations: classpath:datos.sql

  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console